.about-service-full .progress {
    position: fixed;
    top: 0;
    height: 5px;
    width: 100%;
}

.about-service-full .progress-bar {
    width: 0;
    background-color: goldenrod;
}

.about-service-full .layout-positioner {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
}

.about-service-full h1 {
    margin: 35px 0;
    text-align: center;
}

.about-service-full .banner__container {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.about-service-full .banner__books {
    height: 300px;
    width: 300px;
}

.about-service-full p {
    margin-bottom: 35px;
}

.about-service-full .title-color {
    color: white;
    background-color: goldenrod;
}

.about-service-full .last-paragraph {
    margin: 0;
    padding: 0;
}