.about-service-base .layout-positioner {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
}

.about-service-base h1 {
    margin: 35px 0;
    text-align: center;
}

.about-service-base .banner__container {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.about-service-base .banner__books {
    height: 300px;
    width: 300px;
}

.about-service-base p {
    margin-bottom: 35px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .about-service-base .layout-positioner {
        min-width: 100%;
        padding: 0 1.5%;
        width: auto;
    }

    .about-service-base h1 {
        font-size: 1.8em;
    }

    .about-service-base .banner__books {
        height: 250px;
        width: 250px;
    }
}