@media (min-width: 320px) and (max-width: 768px) {
    .registration .layout-positioner {
        padding: 0 1.5%;
        width: auto;
    }

    .registration .banner {
        height: 200px;
    }

    .registration h1 {
        font-size: 2.5em;
        text-align: left;
    }
}