.recommendation-page {
}

.recommendation-page .layout-positioner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.recommendation-page .recommendation-container {
    max-width: 768px;
}

