.checklist-block-1 {
  height: 100%;
}

.checklist-block-1 .form-container {
  width: 550px;
}

.checklist-block-1 .portrait {
  width: 50vw;
  height: calc(100vh - 55px);
}

.checklist-block-1 img {
  height: 450px;
  width: auto;
}

.checklist-block-1 h3 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.66);
}

.checklist-block-1 .mobile-break {
  display: none;
}

@media (max-height: 826px) {
  .checklist-block-2 {
    height: 100%;
  }
}
