@media (min-width: 414px) and (max-width: 1024px) {
    .d-flex {
        flex-direction: column;
    }

    .checklist-block-1 .layout-positioner {
        margin-left: 0;
        width: 100vw;
    }

    .checklist-block-1 .portrait {
        position: static;
        padding: 30px 0 0 0;
        margin: 0 auto 0 auto;
    }

    .checklist-block-1 .img-container {
        display: flex;
        justify-content: center;
    }

    .checklist-block-1 .portrait-name,
    .checklist-block-1 .portrait-description {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .checklist-block-1 .portrait-name {
        margin-top: 20px;
    }

    .checklist-block-1 .portrait-description {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .checklist-block-1 .form-container {
        background-color: white;
    }

    .checklist-block-1 form {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }

    .checklist-block-1 h1,
    .checklist-block-1 h2 {
        text-align: center;
    }
}