.not-found {
  height: calc(100vh - 55px);
}

.not-found .layout-positioner {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.not-found .banner__container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.not-found .d-flex {
  height: 80vh;
}

.not-found p {
  margin-bottom: 35px;
}
