.main {
    height: calc(100vh - 60px);
}

.main .background {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.33);
}

.main .welcome-container {
    margin: calc(37vh - 60px) 110px 0;
    min-height: 310px;
}

.main h1 {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.75);
}

.main .mobile-break {
    display: block;
}

.main img {
    height: calc(100vh - 60px);
    width: 50vw;
    object-fit: cover;
}

.main .btn {
    font-weight: bold;
    color: white;
    background-color: goldenrod;
}

.main .btn:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}