@media (min-width: 320px) and (max-width: 414px) {
    .main img {
        height: calc(100vh / 2.5 - 80px);
    }

    .main .tablet-and-mobile {
        height: 60vh;
    }
}

@media (min-width: 320px) and (max-width: 320px) {
    .main h1 {
        font-size: 1.5em;
    }

    .main p {
        font-size: 0.9em;
    }

    .main button {
        font-size: 0.8em;
    }
}