@media (min-width: 320px) and (max-width: 414px) {
  .checklist-block-2 {
    height: auto;
  }

  .checklist-block-2 .d-flex {
    flex-direction: column;
  }

  .checklist-block-2 .layout-positioner {
    margin-left: 0;
  }

  .checklist-block-2 .portrait {
    position: static;
    margin: 30px auto 0 auto;
    padding: 0;
  }

  .checklist-block-2 .portrait-container {
    padding-bottom: 20px;
  }

  .checklist-block-2 .img-container {
    display: flex;
    justify-content: center;
  }

  .checklist-block-2 img {
    height: auto;
    width: 80vw;
  }

  .checklist-block-2 .portrait-name,
  .checklist-block-2 .portrait-description {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .checklist-block-2 .portrait-name {
    margin-top: 15px;
  }

  .checklist-block-2 .portrait-description {
    margin-top: 10px;
  }

  .checklist-block-2 .form-container {
    margin-top: 0;
    background-color: white;
  }

  .checklist-block-2 .form {
    width: 100vw;
  }

  .checklist-block-2 .mobile-break {
    display: block;
  }

  .checklist-block-2 h2 {
    text-align: center;
  }
}
