.site-header {
  background-color: floralwhite;
}

.site-header .about-service-entrypoint:hover {
  text-decoration: none;
}

.site-header .dropdown-menu {
  background-color: floralwhite;
}

.site-header .dropdown:hover .dropdown-menu {
  display: block;
}

.site-header .dropdown-toggle:hover {
  cursor: pointer;
}

.site-header .main-action {
  margin: -2px -2px 0 0;
  height: 42px;
  background-color: transparent;
  border: 2px dashed goldenrod;
  border-radius: 15px;
}

.site-header .main-action:hover {
  text-decoration: underline;
}

.site-header .main-action__text {
  color: rgba(0, 0, 0, 0.45);
  font-weight: bold;
}

.site-header .normal-letter {
  font-size: 12px;
}

.site-header .small-letter {
  font-size: 10px;
}

.site-header .button-font-size {
  color: goldenrod;
  background-color: transparent;
  border: 1px solid goldenrod;
  box-sizing: border-box;
}
